/* ==================
common css
====================*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.container{
    width: 1110px;
    margin: 0 auto;
}

.primary-btn{
    border: none;
    
}

.primary-btn a{
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    text-align: center;  
    color: #FFFFFF; 
    padding: 20px 25px;
    background-color: #FF900E;
    border-radius: 5px;
    
}



/* =========================
header css starts
========================= */

header{
    background-color: rgba(255, 144, 14, 0.1);
}

/* nav css starts */
nav{
    padding-top: 50px;
}

nav .nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-items .logo{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

nav .nav-items ul{
    display: flex;
    align-items: center;
}
nav .nav-items ul .nav-item{
    list-style: none;
    margin-right: 75px;
}
nav .nav-items ul .nav-item.last{
    margin-right: 0;
}
nav .nav-items ul .nav-item a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
    color: #424242;  
}
/* banner css starsf */
.banner{
    padding-top: 122px;
}
.banner-items .contants{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner-items .contants .banner-title {
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    color: #131313;

}
.banner-items .contants .discription {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 0 100px;
    margin-bottom: 32px;
    margin-top: 32px;

}
.banner-items .contants .primary-btn{
    margin-bottom: 50px;
}
.banner-items .banner-image{
    padding-bottom: 45px;
}
.banner-items .banner-image img{
    width: 100%;
}

/* about us css starts */
.about-us{
    margin-top: 85px;
}
.about-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 70px;
}

.about-items .images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}
.about-items .images .image img{
    width: 100%;
}

.about-items .contants .heading{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    margin-bottom: 24px;
}

.about-items .contants .heading .hd1{
    font-weight: 700;
    color: #131313;
}
.about-items .contants .heading .hd2{
    font-weight: 700;
    color: #FF900E;
}

.about-items .contants .discription{
    font-weight: 400;
    font-size: 16px;   
    color: #727272;
    margin-bottom: 32px; 
}
/* features css starts */
.features{
    margin-top: 146px;
}
.features-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 146px;
    margin-top: 146px;
}
.features-items .contants .heading{
    font-weight: 700;
    font-size: 45px;    
    color: #131313;
    padding-left: 21px;
    padding-right: 50px;
    border-left:5px solid #FF900E ;
}
.features-items .contants .discriptions{   
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
}
.features-items .contants .items{
    padding: 30px 0 30px 15px;
    margin-top: 10px;
}
.features-items .contants .items .item{
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #727272;
}
.features-items .contants .items .item .s-heading{
    font-weight: 600;
    font-size: 20px; 
    color: #131313;   
}
.features-items .contants .items .item .discriptions{
    margin-top: 10px;
}
.features-items .image img{
    width: 100%;
}
.features-items .image .exp{
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF; 
    background-color: #FF900E; 
    line-height: 30px;  
    text-transform: capitalize;
    padding: 45px 32px 35px;
    border-radius: 5px;
    margin: -45% -15%;
}
.features-items .image .exp .exp2{
    font-weight: 500;
    font-size: 22px;    
}
/* facts css starts */
.facts-items{
    margin-top: 124px;
}
.facts-items .heading{
    font-weight: 700;
    font-size: 45px; 
    color: #131313;   
    text-transform: capitalize;
}
.facts-items .discription{
    font-weight: 400;
    font-size: 16px;  
    color: #727272; 
    padding-right: 500px; 
    margin-top: 24px;
    margin-bottom: 100px;
}
.facts-items .items{
    display: grid;
    grid-template-columns: repeat(4, .75fr);
    gap: 54px;
}

.facts-items .items .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px 25px;
    border: 1px solid 
    #FF900E;
    border-radius: 5px;
    
}
.facts-items .items .item:hover{
    background-color: #FF900E;
    transition: all linear .4s;
}
.facts-items .items .item .number{
    font-weight: 600;
    font-size: 45px; 
    color: #424242;  
    margin-top: 5px;
    margin-bottom: 10px; 
}
.facts-items .items .item .title{
    font-weight: 600;
    font-size: 20px; 
    color: #727272;
    text-transform: capitalize;   
}
.facts-items .items .item:hover .title, .facts-items .items .item:hover .number{
    color: #FFFFFF;
    transition: all linear 0.4s;
}
/* previous work css starts */
.previous-items{
    margin-top: 100px;
}
.previous-items .heading{
    font-weight: 700;
    font-size: 45px; 
    color: #131313;   
    text-transform: capitalize;
}

.previous-items .discriptions{
    font-weight: 400;
    font-size: 16px;  
    color: #727272; 
    padding-right: 400px;
    margin-top: 24px;
    margin-bottom: 50px;
}
.previous-items .items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.previous-items .items .item{
    padding: 30px;
    border-radius: 5px;
    border: .5px solid #FF900E;
}
.previous-items .items .item img{
    border-radius: 5px;
    width: 100%;
}
.previous-items .items .item .s-heading{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 35px; 
    color: #131313;   
    text-transform: capitalize;
}
.previous-items .items .item p{
    font-weight: 400;
    font-size: 16px;  
    color: #727272; 
    margin-bottom: 20px;
}

/* sponsors css strats */
.sponsporsitems{
    margin-top: 100px;
    margin-bottom: 100px;
}
.sponsporsitems .heading{
    font-weight: 700;
    font-size: 45px; 
    color: #131313;   
    text-transform: capitalize;
    text-align: center;
}
.sponsporsitems .discriptions{
    text-align: center;
    font-weight: 400;
    font-size: 16px;  
    color: #727272; 
    padding: 0 271px; 
    margin-top: 24px;
    margin-bottom: 50px;
}

.sponsporsitems .items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

/* footers css starts */
.s-footer{
    background-color: rgba(255, 144, 14, 0.1);
    border-radius: 5px;

}
.s-footer p{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
    padding: 40px 0;
}


/* ==========================================
=============================================
media quiry
============================================
========================================== */

/* mobile device */
@media screen and (max-width: 676px){
    
    .container{
        width: 100%;
        margin: 0 auto;
    }
    /* nav bar's media */
    nav .nav-items{
        flex-direction: column;
    padding-top: 20px;
    }
    nav .nav-items ul{
    flex-direction: column;
    }
    nav .nav-items ul .nav-item{
    list-style: none;
    margin-right: 0px;
    }
     /* banner's media */
    .banner-items .contants .discription {
        padding: 0 20px;
    
    }
    /* about's media */
    .about-items{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 70px;
        padding: 10px;
    }
    .about-items .images{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    
    }
    /* facts's media */
    .facts-items .heading{
        padding-left: 20px;
    }
    .facts-items .discription{
        padding-left: 20px; 
        padding-right: 0;
        margin-bottom: 50px;
    }
    .facts-items .items{
        grid-template-columns: repeat(1, .75fr);
        gap: 24px;
        align-items: center;
        justify-content: center;
    }
    /* features's media */
    .features-items{
        grid-template-columns: repeat(1, 1fr);
        gap: 46px;
    }
    .features-items .image{
        margin: 10px;
    }
    .features-items .image .exp{
        display: block;     
        padding: 45px 32px 35px;
        border-radius: 5px;
        margin: 5px;
    }
    .features-items .contants .items{
        padding: 30px 0 30px 0;
        margin-top: 20px;
    }
    .features-items .contants .items .item{
        padding: 15px;
        margin-bottom: 10px;
    }
    /* previous's media */
    .previous-items .heading{
        padding-left: 20px;
    }
    .previous-items .discriptions{
        padding-left: 20px;
        padding-right:0px;
    }
    .previous-items .items{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20px;
    }
    /* features's media */
    .sponspors-items .discriptions{
        text-align: center;
        font-weight: 400;
        font-size: 16px;  
        color: #727272; 
        padding: 0 20px; 
        margin-top: 24px;
        margin-bottom: 50px;
    }
    .sponspors-items .items{
        grid-template-columns: repeat(1, .5fr);
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

} 